body {
    margin: 0;
    padding: 0;
    color: white;
    font-family: Arial, sans-serif;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    height: 100vh;
}

.page1 { background: url("imagens/1.png") no-repeat center/cover; }
.page2 { background: url("imagens/2.png") no-repeat center/cover; }
.page3 { background: url("imagens/3.png") no-repeat center/cover; }
.page4 { background: url("imagens/4.png") no-repeat center/cover; }
.page5 { background: url("imagens/5.png") no-repeat center/cover; }
.page6 { background: url("imagens/6.png") no-repeat center/cover; }
.page7 { background: #f5f5f5; color: black; }
.page8 { background: #e0e0e0; color: black; }
.page9 { background: #111; color: white; }

.logo {
  width: 120px;
  margin: 20px;
}
