body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* CAPA */

.page1 { 
  background-image: url("../assets/bg1.png");  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.logo-senai {
  width: 120px;
  margin: 20px;
  display: flex;
}

.interclasses {
  font-family: Impact, "Arial Narrow", Arial, sans-serif;
  color: #969494;
  font-size: 80px;
  justify-self: left;
  margin-left: 150px;
  margin-top: 300px;
  margin-bottom: 0;
}

.nome-escola {
  font-family: Impact, "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  justify-self: left;
  margin-left: 150px;
}

.data-evento {
  color: rgb(219, 35, 35);
  font-family: Impact, "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  justify-self: left;
  margin-left: 150px;
  margin-top: 250px;
}

/* INTRODUÇÃO */

.page2 { 
  background: url("../assets/bg2.png"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.intro1 {
  width: 1000px;
  white-space: pre-line;
  text-align: right;
  font-family: Impact, "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  justify-self: right;
  margin-right: 150px;
  margin-top: 350px;
}

.intro2 {
  white-space: pre-line;
  text-align: right;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  justify-self: right;
  margin-right: 150px;
}

/* FUTEBOL */

.page3 { 
  background: url("../assets/bg3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.futebol {
  text-align: left;
  font-family: Arial Black;
  font-size: 80px;
  justify-self: left;
  margin-left: 150px;
  margin-top: 250px;
}

.futebol1 {
  white-space: pre-line;
  text-align: left;
  font-family: Impact, "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  justify-self: left;
  margin-left: 150px;
  margin-top: 20px;
}

.futebol2 {
  white-space: pre-line;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  justify-self: left;
  margin-left: 150px;
}

/* VÔLEI */

.page4 { 
  background: url("../assets/bg4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.volei {
  text-align: left;
  font-family: arial black;
  font-size: 80px;
  justify-self: left;
  margin-left: 150px;
  margin-top: 300px;
}

.volei1 {
  white-space: pre-line;
  text-align: left;
  font-family: Impact, "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  justify-self: left;
  margin-left: 150px;
  margin-top: 85px;
}

.volei2 {
  white-space: pre-line;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  justify-self: left;
  margin-left: 150px;
}

/* NATAÇÃO */

.page5 { 
  background: url("../assets/bg5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.natacao1 {
  white-space: pre-line;
  text-align: left;
  font-family: Impact, "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  justify-self: left;
  margin-left: 150px;
  margin-top: 350px;
}

.natacao2 {
  white-space: pre-line;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  justify-self: left;
  margin-left: 150px;
}

/* TÊNIS */

.page6 { 
  background: url("../assets/bg6.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.tenis1 {
  white-space: pre-line;
  text-align: left;
  font-family: Impact, "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  justify-self: left;
  margin-left: 150px;
  margin-top: 350px;
}

.tenis2 {
  white-space: pre-line;
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 30px;
  justify-self: left;
  margin-left: 150px;
}

/* FORMULÁRIO */

.page7 { 
  background: lab(34.88% 0 0); color: rgb(39, 39, 39);
  height: 990PX;

}
.box-all {
  margin-top: 200px;
}

.box-formulario {
  background-color: #1d1d1d;
  height: 500px;
  width: 500px;
  border-radius: 20px;
  justify-self: center;
}

.nome-completo {
  color: whitesmoke;
  text-align: left;
  
}

/* AAPM */

.page8 { 
  background: #757575; color: black;
  
}

/* RODAPÉ */

.page9 { 
  background: #222222; color: white;
  
}
