body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* CAPA */

.page1 { 
  background-image: url("/static/assets/bg1.png");  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.frame-aapm {
  background-color: rgba(153, 153, 153, 0.5);
  width: 250px;
  margin-left: 30px;
  border-radius: 20px;
  opacity: 1;
}

.logo-aapm2 {
  width: 200px;
  margin: 20px;
  display: flex;
}

.interclasses {
  font-family: Impact, "Arial Narrow", Arial, sans-serif;
  color: #969494;
  font-size: 80px;
  justify-self: left;
  margin-left: 250px;
  margin-top: 270px;
  margin-bottom: 0;
}

.nome-escola {
  font-family: Impact, "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  justify-self: left;
  margin-left: 250px;
}

.data-evento {
  color: rgb(219, 35, 35);
  font-family: Impact, "Arial Narrow", Arial, sans-serif;
  font-size: 30px;
  justify-self: left;
  margin-left: 250px;
  margin-top: 200px;
}

/* INTRODUÇÃO */

.page2 { 
  background: url("/static/assets/bg2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.intro1 {
  width: 1000px;
  white-space: pre-line;
  text-align: right;
  font-family: "Trebuchet MS", "Segoe UI", sans-serif;
  font-weight: bold;
  font-size: 30px;
  justify-self: right;
  margin-right: 250px;
  margin-top: 350px;
  text-shadow: 5px 5px 5px black;
}

.intro2 {
  white-space: pre-line;
  text-align: right;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 30px;
  justify-self: right;
  margin-right: 250px;
  text-shadow: 5px 5px 5px black;
}

/* FUTEBOL */

.page3 { 
  background: url("/static/assets/bg3.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.futebol {
  color: rgb(230, 230, 230);
  text-shadow: 0 0 2px rgb(221, 221, 221),
               0 0 2px rgb(221, 221, 221),
               0 0 7px rgb(221, 221, 221);
  text-align: left;
  font-family: Arial Black;
  font-size: 80px;
  justify-self: left;
  margin-left: 250px;
  margin-top: 300px;
  margin-bottom: inherit;
}

.futebol1 {
  color: rgb(202, 202, 202);
  text-shadow: 5px 5px 5px black;
  white-space: pre-line;
  text-align: left;
  font-family: "Trebuchet MS", "Segoe UI", sans-serif;
  font-weight: bold;
  font-size: 30px;
  justify-self: left;
  margin-left: 250px;
  margin-top: 20px;
}

.futebol2 {
  color: rgb(202, 202, 202);
  text-shadow: 5px 5px 5px black;
  white-space: pre-line;
  text-align: left;
  font-family: Georgia, "Times New Roman", serif;
  font-size: 30px;
  justify-self: left;
  margin-left: 250px;
}

/* VÔLEI */

.page4 { 
  background: url("/static/assets/bg4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.volei {
  color: rgb(230, 230, 230);
  text-shadow: 0 0 2px rgb(221, 221, 221),
               0 0 2px rgb(221, 221, 221),
               0 0 7px rgb(221, 221, 221);
  text-align: left;
  font-family: arial black;
  font-size: 80px;
  justify-self: left;
  margin-left: 250px;
  margin-top: 300px;
  margin-bottom: inherit;
}

.volei1 {
  color: rgb(202, 202, 202);
  text-shadow: 5px 5px 5px black;
  white-space: pre-line;
  text-align: left;
  font-family: "Trebuchet MS", "Segoe UI", sans-serif;
  font-weight: bold;
  font-size: 30px;
  justify-self: left;
  margin-left: 250px;
  margin-top: 20px;
}

.volei2 {
  color: rgb(202, 202, 202);
  text-shadow: 5px 5px 5px black;
  white-space: pre-line;
  text-align: left;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 30px;
  justify-self: left;
  margin-left: 250px;
}

/* TÊNIS DE MESA */

.page5 { 
  background: url("/static/assets/bg5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.pingpong {
  color: rgb(230, 230, 230);
  text-shadow: 0 0 2px rgb(221, 221, 221),
               0 0 2px rgb(221, 221, 221),
               0 0 7px rgb(221, 221, 221);
  text-align: left;
  font-family: Arial Black;
  font-size: 80px;
  justify-self: left;
  margin-left: 250px;
  margin-top: 300px;
  margin-bottom: inherit;
}

.pingpong1 {
  color: rgb(202, 202, 202);
  text-shadow: 5px 5px 5px black;
  white-space: pre-line;
  text-align: left;
  font-family: "Trebuchet MS", "Segoe UI", sans-serif;
  font-weight: bold;
  font-size: 30px;
  justify-self: left;
  margin-left: 250px;
  margin-top: 20px;
}

.pingpong2 {
  color: rgb(202, 202, 202);
  text-shadow: 5px 5px 5px black;
  white-space: pre-line;
  text-align: left;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 30px;
  justify-self: left;
  margin-left: 250px;
}

/* TÊNIS */

.page6 { 
  background: url("/static/assets/bg6.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.tenis {
  color: rgb(230, 230, 230);
  text-shadow: 0 0 2px rgb(221, 221, 221),
               0 0 2px rgb(221, 221, 221),
               0 0 7px rgb(221, 221, 221);
  text-align: left;
  font-family: Arial Black;
  font-size: 80px;
  justify-self: left;
  margin-left: 250px;
  margin-top: 300px;
  margin-bottom: inherit;
}

.tenis1 {
  color: rgb(202, 202, 202);
  text-shadow: 5px 5px 5px black;
  white-space: pre-line;
  text-align: left;
  font-family: "Trebuchet MS", "Segoe UI", sans-serif;
  font-weight: bold;
  font-size: 30px;
  justify-self: left;
  margin-left: 250px;
  margin-top: 20px;
}

.tenis2 {
  color: rgb(202, 202, 202);
  text-shadow: 5px 5px 5px black;
  white-space: pre-line;
  text-align: left;
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 30px;
  justify-self: left;
  margin-left: 250px;
}

/* FORMULÁRIO */

.page7 { 
  background: lab(27.09% 0 0); color: rgb(39, 39, 39);
  height: 1000PX;

}
.box-all {
  margin-top: 70px;
}

.form-ins {
  font-family: "Arial Rounded MT Bold", "Trebuchet MS", Verdana, sans-serif;
  font-size: 48px;
  font-weight: bolder;
  color: aliceblue;
}

.box-formulario {
  background-color: #353535;
  height: 750px;
  width: 700px;
  border-radius: 20px;
  justify-self: center;
  margin-top: -10px;
}

.nome-completo {
  font-family: "Arial Rounded MT Bold", "Trebuchet MS", Verdana, sans-serif;
  font-weight: bold;
  font-size: large;
  color: aliceblue;
  text-align: left;
  margin-left: 90px;
  margin-top: -40px;
}

.turma {
  font-family: "Arial Rounded MT Bold", "Trebuchet MS", Verdana, sans-serif;
  font-weight: bold;
  font-size: large;
  color: aliceblue;
  text-align: left;
  margin-left: 90px;
}

input[type="text"] {
  width: 500px; 
  padding: 8px; 
  font-size: 16px; 
  border-radius: 5px; 
  border-color: aliceblue;
  margin-top: 5px;
}

.telefone {
  font-family: "Arial Rounded MT Bold", "Trebuchet MS", Verdana, sans-serif;
  font-weight: bold;
  font-size: large;
  color: aliceblue;
  text-align: left;
  margin-left: 90px;
}

input[type="tel"] {
  width: 500px; 
  padding: 8px; 
  font-size: 16px; 
  border-radius: 5px; 
  border-color: aliceblue;
  margin-top: 5px;
}

.email {
  font-family: "Arial Rounded MT Bold", "Trebuchet MS", Verdana, sans-serif;
  font-weight: bold;
  font-size: large;
  color: aliceblue;
  text-align: left;
  margin-left: 90px;
}

input[type="email"] {
  width: 500px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px; 
  border-color: aliceblue;
}

.modalidade {
  font-family: "Arial Rounded MT Bold", "Trebuchet MS", Verdana, sans-serif;
  font-weight: bold;
  font-size: large;
  color: aliceblue;
  text-align: left;
  margin-left: 90px;
}

.modalidades {
  width: 520px;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  color: #6e6c6c;
}

.modalidades:hover {
  cursor: pointer;
}


.botao-enviar {
  justify-self: center;
  height: 40px;
  width: 300px;
  background-color: rgb(230, 44, 44);
  font-family: "Arial Rounded MT Bold", "Trebuchet MS", Verdana, sans-serif;
  border-radius: 5px;
  border-color: rgb(230, 44, 44);
  margin-top: 65px;
  font-weight: bold;
  font-size: large;
}

.botao-enviar:hover {
  background-color: rgb(243, 39, 39);
  cursor: pointer;
}

/* AAPM */

.page8 { 
  background: #636363; color: black;
  height: 970px;
}

.logo-aapm {
  display: flex;
  margin-left: 300px;
  margin-top: 350px;
  height: 250px;
}

.container { 
  display: flex;
  flex-direction: row;
  gap: 10rem;
}

.box-aapm {
  background-color: rgb(78, 78, 78);
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
  padding: 5rem;
}

.sobre-aapm {
  white-space: pre-line;
  font-family: "Arial Rounded MT Bold", "Trebuchet MS", Verdana, sans-serif;
  font-weight: bold;
  font-size: 25px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  letter-spacing: 2px;}

/* RODAPÉ */

.page9 { 
  background-color: #353535;
  height: 450px;
}

.logo-senai2 {
  width: 120px;
  margin: 20px;
  display: flex;
}

.box-desenvolvedores {
  justify-self: left;
  margin-left: 500px;
  margin-top: 150px;

}

.desenvolvido-por {
  font-family: "Arial Rounded MT Bold", "Trebuchet MS", Verdana, sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.logo-github {
  height: 20px;
  justify-self: left;
}

a {
  font-family: "Arial Rounded MT Bold", "Trebuchet MS", Verdana, sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #bababa;
  margin-bottom: 15px;
  text-decoration: none;
}

a:hover {
  color: #9b9b9b;
}

.box-instagram {
  margin-top: -25px;
  justify-self: right;
  margin-right: 500px;
}

.logo-insta {
  height: 20px;
}